@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #9ca8a6;
    --text-highlight: #bbccca;
    --background: #070303;
    --primary: #bd0011;
    --primary-highlight: #f30017;
    --secondary: #007d94;
    --secondary-highlight: #00a3c1;
    --accent: #ba9d00;
    --accent-highlight: #e0be00;
  }

body {
  color: rgb(var(--foreground-rgb));
  background: #130f18;
}
